@{
    ViewBag.Title = "Home Page";
}


<div class="row">
    <ul>
        @foreach(var course in Model) 
        { 
            <li>
                @course.DateTime.ToString("dd/mm/yyyy HH:mm") -@course.Name
            </li>
        }
    </ul>
</div>